
@charset "ISO-8859-1";
#movies img, #movie img{
	width:100%;
    padding: 0;
}

@media(min-width:960px){
    #movies .col-md-3 .well{
        height: 390px;
    }

    #movies .col-md-3 img{
        height:240px;
    }
}

.jumbotron{
    border: black solid 2px;
}

.container{
    height: 100%;
}

img{
    border: black solid 2px;
}

.navbar{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav h1{
    color: white;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-size: 2rem;
    width: 100%;
}